section {
  width: 100%;
  background: #f6f6f6;
  padding: 30px 0 15px;
}
section .main {
  width: 1001px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 25px;
}
section .main:after {
  content: '';
  display: block;
  clear: both;
}
section .main .banner {
  width: 100%;
  height: 320px;
}
section .main .banner img {
  width: 100%;
}
section .main .cell {
  margin-top: 47px;
  padding-left: 30px;
  overflow: hidden;
}
section .main .cell p {
  margin-bottom: 10px;
}
section .main .cell p b {
  font-size: 24px;
  color: #492d09;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}
section .main .cell p span {
  color: #999999;
  font-size: 14px;
}
section .main .cell p i {
  display: inline-block;
  width: 38px;
  height: 33px;
  background: url('../images/clo.png') no-repeat;
  position: relative;
  top: 8px;
  left: 1px;
}
section .main .cell p i.xiu {
  background: url('../images/xiu.png') no-repeat;
}
section .main .cell p i.cam {
  background: url('../images/cam.png') no-repeat;
}
section .main .cell p i.jnc {
  background: url('../images/jnc.png') no-repeat;
}
section .main .cell ul {
  overflow: hidden;
}
section .main .cell ul li {
  float: left;
  margin-right: 20px;
  width: 221px;
  height: 221px;
}
section .main .cell ul li:last-child {
  margin: 0;
}
section .main .cell .pic {
  width: 220px;
  height: 200px;
  float: left;
  margin-top: 8px;
  clear: both;
  margin-bottom: 20px;
}
section .main .cell .pic img {
  width: 100%;
}
section .main .cell .right {
  float: left;
  margin-left: 20px;
}
section .main .cell .right p {
  color: #333333;
  font-size: 14px;
  margin-bottom: 13px;
}
section .main .cell .right p span {
  color: #000;
  margin-right: 5px;
}
section .main .cell .right table {
  width: 460px;
  text-align: center;
  border: 1px solid #e8e8e8 ;
  font-size: 14px;
}
section .main .cell .right table th {
  height: 30px;
  background: #f8f8f8;
  color: #999999;
  font-weight: normal;
}
section .main .cell .right table tbody tr td {
  color: #333;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  height: 40px;
}
section .main .cell .right table tbody tr td:last-child {
  border-right: 1px solid #e8e8e8;
  color: #f00;
}
section .main .cell .right table tbody tr:last-child td {
  border-bottom: 1px solid #e8e8e8;
}
